<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My First Express App</title>
        <!-- socket.io client library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <!-- vue js library -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="app">
            <h2>Mario Chat</h2>
            <div id="chat-window">
                <chat-feedback ref="feedback"></chat-feedback>
            </div>
            <input id="handle" type="text" placeholder="Handle" v-model="handle" />
            <input id="message" type="text" placeholder="Message" v-model="message" @input="emitWiritingEvent"/>
            <button id="send" @click="emitChatEvent">Send</button>
        </div>

        <script src="js/app.js"></script>
    </body>
</html>