@import url("https://unpkg.com/nes.css@latest/css/nes.min.css");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$second: #92cc41;

body{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

input:focus {
    outline: none;
}

#app {
    max-width: 450px;
    margin: 1rem auto;
    display: block;
}

.nes-container {
    &.is-rounded{
        background-color: #e8e8e8;

        &.is-dark{
            margin: 0;
            padding: 8px;
            box-sizing: border-box;
            height: 270px;
        }
    }

    .nes-wrapper{
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    p {
        color: black;
    }
}

.nes-field{
    input{
        margin: 1rem 0 1rem 4px;
        width: calc(100% - 8px);
    }
}

.message {
    &.-right {
        margin-left: auto;

        p {
            text-align: right;
        }
    }

    &.-left {
        margin-right: auto;

        p {
            text-align: left;
        }
    }
}

.nes-balloon{
    &.is-primary{
        background-color: $second;

        &::before {
            background-color: $second;
        }

        &::after{
            background-color: $second;
            box-shadow: -4px 0, 4px 0, 4px 4px $second, 0 4px, 8px 4px, 4px 8px, 8px 8px;
        }

        p {
            color: #fff;
        }
    }
}
